<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.BoardDAO">
	<resultMap type="kr.kh.app.model.vo.PostVO" id="PostMap1">
		<id property="post_id" column="post_id"/>
		<result property="post_board_num" column="post_board_num"/>
		<result property="post_title" column="post_title"/>
		<result property="post_content" column="post_content"/>
		<result property="post_date" column="post_date"/>
		<result property="post_view" column="post_view"/>
		<result property="post_upvotes" column="post_upvotes"/>
		<result property="post_reported" column="post_reported"/>
		<result property="post_user_id" column="post_user_id"/>
		<collection property="board" ofType="kr.kh.app.model.vo.BoardVO" column="post_board_num" select="selectBoard"/>
		<collection property="user" ofType="kr.kh.app.model.vo.UserVO" column="post_user_id" select="selectUser"/>
	</resultMap>
	<select id="selectTotalCount" resultType="int">
		SELECT count(*) 
		FROM post
		<if test='cri.type=="all"'>
			where (post_title like concat('%', #{cri.search},'%')
				or post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="title"'>
			where post_title like concat('%', #{cri.search},'%') and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="writer"'>
			where post_user_id = #{cri.search} and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="mypage"'>
			where post_user_id = #{cri.search}
		</if>
	</select>
	
	<select id="selectBoardList" resultMap="PostMap1">
		SELECT * 
		FROM post
		<if test='cri.type=="all"'>
			where (post_title like concat('%', #{cri.search},'%')
				or post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="title"'>
			where post_title like concat('%', #{cri.search},'%') and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="writer"'>
			where post_user_id = #{cri.search} and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="mypage"'>
			where post_user_id = #{cri.search}
		</if>
		ORDER BY post_id DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectBoard" resultType="kr.kh.app.model.vo.BoardVO">
		select * from board where board_id = #{board_id}
	</select>
	
	<select id="selectUser" resultType="kr.kh.app.model.vo.UserVO">
		select * from user where user_id = #{user_id}
	</select>
	
	<select id="selectSubBoard" resultType="kr.kh.app.model.vo.BoardVO">
		select * from board where board_id = #{board_id};
	</select>
	
	<select id="selectCommentPostCount" resultType="int">
		SELECT 
			count(post_id)
		FROM(
		select post_id 
		from
			`comment`
				join
			`post`
				on post_id = comment_post_num
		where
			comment_user_id = #{cri.search}
		group by
			post_id) a
	</select>
	<select id="selectCommentPostList" resultType="kr.kh.app.model.vo.PostVO">
		select `post`.*
		from
			`comment`
				join
			`post`
				on post_id = comment_post_num
		where
			comment_user_id = #{cri.search}
		group by
			post_id
		ORDER BY post_id DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectLikePostCount" resultType="int">
		select count(*) from upvote where user_id = #{cri.search} and upvote = 1
	</select>
	<select id="selectLikePostList" resultType="kr.kh.app.model.vo.PostVO">
		select a.*
		from
			post as a
				join
			upvote as b
				on a.post_id = b.post_id
		where user_id = #{cri.search} and upvote = 1
	</select>
</mapper>