<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.BoardDAO">
	<resultMap type="kr.kh.app.model.vo.PostVO" id="PostMap">
		<id property="post_id" column="post_id"/>
		<result property="post_board_num" column="post_board_num"/>
		<result property="post_title" column="post_title"/>
		<result property="post_content" column="post_content"/>
		<result property="post_date" column="post_date"/>
		<result property="post_view" column="post_view"/>
		<result property="post_upvotes" column="post_upvotes"/>
		<result property="post_reported" column="post_reported"/>
		<result property="post_user_id" column="post_user_id"/>
		<collection property="board" ofType="kr.kh.app.model.vo.BoardVO"
			column="post_board_num" select="selectBoard"/>
	</resultMap>
	<select id="selectTotalCount" resultType="int">
		SELECT count(*) 
		FROM post
		join board on board_id = post_board_num 
		<if test='cri.type=="all"'>
			where (post_title like concat('%', #{cri.search},'%') 
				or post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="title"'>
			where post_title like concat('%', #{cri.search},'%') and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="writer"'>
			where post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
	</select>
	
	<select id="selectBoardList" resultType="kr.kh.app.model.vo.PostVO">
		SELECT * 
		FROM post
		join board on board_id = post_board_num
		<if test='cri.type=="all"'>
			where (post_title like concat('%', #{cri.search},'%') 
				or post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="title"'>
			where (post_title like concat('%', #{cri.search},'%')) and post_board_num = #{cri.boNum}
		</if>
		<if test='cri.type=="writer"'>
			where (post_user_id = #{cri.search}) and post_board_num = #{cri.boNum}
		</if>
		ORDER BY post_id DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectBoard" resultType="kr.kh.app.model.vo.BoardVO">
		select * from board where board_id = #{post_board_num}
	</select>
	
	<select id="selectSubBoard" resultType="kr.kh.app.model.vo.BoardVO">
		select * from board where board_id = #{board_id};
	</select>
</mapper>